<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<style>.e{width: 100px}
    .b{display: flex;
		}
	.c{margin-top:-20px;margin-left: 130px;font-family:'Brush Script MT', cursive;font-size: 25px
		}
	.d{text-align: center;text-transform:uppercase;color:#004080;font-family:Times New Roman:
		}
</style>

</head>
<body class="home">
<script src="{% static 'dashboard/js/style.js' %}"></script>
{% block content %}
<div class="container-fluid" >
    <div class="b">
    <img class="e" src="{% static 'css/image/vintage logo.png' %}">
    <h1 class="d">Vintage<br> Info Solutions</h1>
    </div>
    <p class="c">Where professionals are made</p>
</div>
<div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a href="#"><i class="fa fa-user"aria-hidden="true"></i><span class="hidden-xs hidden-sm">My Profile</span></a></li>
                        <li><a href="{% url 'course_new' %}"><i class="fa fa-book" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Courses</span></a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Calender</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Settings</span></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-off" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Log out</span></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <div class="user-dashboard">
                    <h1>Hello,{{userDetails.first_name}}</h1>
                </div>
            </div>
        </div>
</div>
{% endblock %}
</body>
</html>